.imageEditor {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.imageEditor h1 {
    margin: 1em 0;
}

.imageEditor img {
    width: 100%;
}

.imageEditor textarea {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    margin: 1em 0;
}
